<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectKey" value="BeiJing#2008" />
    <add key="AutConnKey" value="!2008#D$5^X*" />
    <!--cookie密钥-->
    <add key="EncryptKey" value="!@#$%^~*" />
    <!--短信-->
    <add key="LanzUserID" value="993280" />
    <add key="LanzAccount" value="jintong" />
    <add key="LanzPassword" value="AFD2827B7F648FF5DB2E46557D2D4EF020EF3DE5" />
    <!--记录当天的时间-->
    <add key="SendTime" value="2015-11-25" />
    <!--数据库连接-->
    <!--<add key="JinRiuserdbConnectionString" value="BTyEcP4cXPnRi27cUp699kvxmyvBDXsQQApLkXkIDiE1wWLe+L9z+uj75tdGz73aEskfEK/HPRtXXrAFZeftLAsXEdfII4s1jXtbSatbSQg=" />-->
  </appSettings>
  <connectionStrings>
    <add name="JinRiuserdbConnectionString" connectionString="BTyEcP4cXPnRi27cUp699kvxmyvBDXsQQApLkXkIDiE1wWLe+L9z+uj75tdGz73aEskfEK/HPRtXXrAFZeftLAsXEdfII4s1jXtbSatbSQg="/>
  </connectionStrings>
  <system.web></system.web>
</configuration>